@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.footer {
  display: flex;
  height: 180px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  background-color: #E7FF8D;

  @include onTablet {
    height: 300px;
  }
}